<h1>Ingredients</h1>
<div style="display: flex; flex-wrap: wrap; width: 1300px;">
	<md-card *ngFor="let ingredient of (ingredients | async)" style="margin: 8px;">
		<md-card-title>{{ingredient.name}}</md-card-title>
		<md-card-subtitle>Obtainable from: {{ingredient.obtainedFrom.join(', ')}}</md-card-subtitle>
		<details>
      <app-rolltables [effect]="ingredient.effect"></app-rolltables>
		</details>
		<md-card-actions>
			<button md-button>LIKE</button>
			<button md-button>SHARE</button>
		</md-card-actions>
	</md-card>
</div>