.book
{
    width: 6in;
    height: 4.25in;
    perspective: 2000px;
    font-family: NodestoCapsCondensed;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.book-page
{
    width: 50%;
    height: 100%;
    margin-left: 50%;
    transform: rotateY(0deg);
    transform-origin: left;
    transform-style: preserve-3d;
    position: absolute;

    transition: transform linear .25s;
}

.book-page footer
{
    position: absolute;
    bottom: 2px;
    font-size: .8em;
}

.book-page::after
{
    background-color: gray;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,0%,.25));
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 2.98in;
    width: 2px;
    transform: rotateY(-90deg);
}

.book-page div
{
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    backface-visibility: hidden;
    background-color: rgb(255,255,245);
    border: 1px solid rgba(0,0,0,.46);
    padding: 0 5px;
}

.book-page .obtainedFrom
{
    margin-top: -20px;
    text-align: right;
    margin-right: 10px;
}

.book-page .desc
{
    font-family: ZatannaMisdirection;
}

.book-page div::first-letter
{
    font-family: SolberaImitation;
    font-size: 1.5em;
}

.book-page .frontside
{
    transform: translateZ(1px);
    /*border-radius: 0 10px 10px 0;*/
    border-right: 2px solid rgba(0,0,0,.76);
    border-left: 1px solid rgba(0,0,0,.1);
}

.book-page .frontside footer
{
    right: 5px;
}

.book-page .backside
{
    transform: rotateY(180deg) translateZ(1px);
    /*border-radius: 10px 0 0 10px;*/
    border-left: 2px solid rgba(0,0,0,.76);
    border-right: 1px solid rgba(0,0,0,.1);
}

.book-page .backside footer
{
    left: 5px;
}