/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

@font-face
{
    font-family: Bookinsanity;
    src: url("assets/fonts/Bookinsanity.otf") format("opentype");
}

@font-face
{
    font-family: ScalySans;
    src: url("assets/fonts/Scaly Sans.otf") format("opentype");
}

body
{
    font-family: Bookinsanity;
}